<div class="container1">
    <header>
    <h1>Hi,Welcome<span>{{name}}</span></h1>
    </header>
    <div class="image">
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
        <div class="cards">
            <img src="/./assets/image/spidy.jpg">
        </div>
    </div>
    <footer>
        <p>copyrights @devaprakash</p>
    </footer>
</div>

